* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

* {
  color:grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

/* This sets my top bar as a galaxy image */
.hero {
  height: 100px;
  width: 100%;
  background-image: url("../images/Galaxy.jpg");
  background-size: cover;
  background-position: center;
}

/* This is my header/nav content */
.nav-container {
  margin: auto;
  width: 100%;
  overflow: auto;
  padding: 0px 20px;
  background: #2a0136
}

h1 {
  float: left;
  width: 50%;
  padding: 25px ;
  text-align: center;
}

ul li {
  list-style: none;
  text-decoration: none;
  float: right;
  padding: 5px;
  font-weight: bold;
  }

ul li a {
  display: block;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

ul li a:hover {
  background: lightgray;
  color: #2a0136;
  font-weight: 100px
  ;
}

/* This is my about me section */
h2 {
  padding-top: 20px;
  align-items: center;  
  width: auto;
  text-align: center;
  font-size: 30px;
}

.aboutcontainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  opacity: 0.7;
}
.aboutcontainer div {
  margin: 0 50px 0 50px;
  width: 100%;
  height: auto;
}

.fleximg {
  width: auto;
  height: 325px;
  margin: 50px;
}

#about {
  width: 50%;
  margin-right: 300px;
  height: auto;
}

/* This is my Contact and portfolio header */
h3, h4 {
  text-align: center;
  font-size: 30px;
  padding: 30px;
  background: #2a0136;
} 

/* this is my portfolio */
.container {
  display: flex;
  flex-direction: column;
  background: #0b0433;
}

.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.samples {
  background-color: #3f3e42;
  border-style: dotted;
  border-width: 2px;
  border-radius: 5px;
  text-align: center;
  margin: 20px;
  width: 20%;
}

.samples header {
  border-radius: 5px 5px 0px 0px;
  padding: 20px;
  color: #2a0136;
  font-weight: bold;
}

div section img {
  width: 100%;
}

/* this is my footer */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3f3e42;
  overflow: auto;
  width: auto;
  padding: 5px;
}

footer img {
  padding: 0 10px 0 10px;
  height: 60px;
  width: 80px;
}

@media screen and (max-width: 768px) {
.aboutcontainer {
  flex-wrap: wrap;
  justify-content: center;
}

.samples {
  width: 100%;
}